node_modules/

app/node_modules
app/dist
app/.env
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/*.log
app/.DS_Store

server/node_modules
server/dist
server/build
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/*.log
server/.DS_Store

